body {
  margin: 2vw;
  background-color: #6b7280;
  font-family: 'PT Sans', sans-serif;
}

header {
  background-color: #273549;
  color: #d1d5db;
  padding: 2vw;
  border-radius: 5px;
}

h2 {
  font-size: 1.25rem;
}

span {
  color: #34d399;
}

button {
  margin-top: 2vh;
  background-color: #34d399;
  border: 3px solid #273549;
  border-radius: 5px;
  padding: 1vh 5vw;
  transition: 0.5s ease-in-out;
  color: #273549;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
}

button:hover {
  background-color: #d1d5db;
  transition: 0.5s ease-in-out;
}

#passwords-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 2vh;
  border: 3px solid #273549;
}

p {
  background-color: #273549;
  padding: 1vh 5vw;
  color: #d1d5db;
  border-radius: 5px;
  min-width: 25vw;
  min-height: 2vh;
  text-align: center;
}
